@model QuizNet.BusinessLogic.DTOs.QuestionDto
@{
    ViewData["Title"] = "Get";
}

<h1>@Model.Text</h1>
<p class="mb-0"><small><em>Created at @Model.CreationTime</em></small></p>
<br />
<ul>
    @for (int i = 0; i < Model.Answers.Length; i++)
    {
        if (Model.Answers[i].IsCorrect)
        {
            <li class="list-group-item active">@Model.Answers[i].Text</li>
        }
        else
        {
            <li class="list-group-item">@Model.Answers[i].Text</li>
        }
    }
</ul>

