@model QuestionFormViewModel
@{
    ViewData["Title"] = "Create";
}

<h1>@Model.ActionType</h1>

<form method="post" asp-controller="Question" asp-action="Save">
    <input asp-for="Question.Id" type="hidden" />
    Question text:
    <input class="form-control" asp-for="Question.Text" />
    <span asp-validation-for="Question.Text" class="text-danger"></span>

    Answer 1# <input class="form-control" asp-for="Question.Answers[0].Text" /><br />
    Answer 2# <input class="form-control" asp-for="Question.Answers[1].Text" /><br />
    Answer 3# <input class="form-control" asp-for="Question.Answers[2].Text" /><br />
    Answer 4# <input class="form-control" asp-for="Question.Answers[3].Text" /><br />

    <div class="form-check">
        <input class="form-check-input" type="radio" value="0" asp-for="Question.CorrectAnswer.Id" id="option1" />
        <label class="form-check-label" for="option1">

            1# is correct
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" value="1" asp-for="Question.CorrectAnswer.Id" id="option2" />
        <label class="form-check-label" for="option2">

            2# is correct

        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" value="2" asp-for="Question.CorrectAnswer.Id" id="option3" />
        <label class="form-check-label" for="option3">

            3# is correct

        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" value="3" asp-for="Question.CorrectAnswer.Id" id="option4" />
        <label class="form-check-label" for="option4">
            4# is correct
        </label>
    </div>
    <button class="btn btn-primary btn-block" type="submit">@Model.ActionType</button>

</form>