@model QuestionFormViewModel
@{
    ViewData["Title"] = "Create";
}

<h1>@Model.ActionType</h1>

<form method="post" asp-controller="Question" asp-action="Save">
    <input asp-for="QuestionId" type="hidden" />
    Question text:
    <input class="form-control" asp-for="QuestionText" />
    <span asp-validation-for="QuestionText" class="text-danger"></span>

    Answer 1# <input class="form-control" asp-for="Answers[0]" /><br />
    <span asp-validation-for="Answers[0]"></span>

    Answer 2# <input class="form-control" asp-for="Answers[1]" /><br />
    <span asp-validation-for="Answers[1]"></span>

    Answer 3# <input class="form-control" asp-for="Answers[2]" /><br />
    <span asp-validation-for="Answers[2]"></span>

    Answer 4# <input class="form-control" asp-for="Answers[3]" /><br />
    <span asp-validation-for="Answers[3]"></span>


    <div class="form-check">
        <input class="form-check-input" type="radio" value="0" asp-for="CorrectAnswerIndex" id="option1" />
        <label class="form-check-label" for="option1">

            1# is correct
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" value="1" asp-for="CorrectAnswerIndex" id="option2" />
        <label class="form-check-label" for="option2">

            2# is correct

        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" value="2" asp-for="CorrectAnswerIndex" id="option3" />
        <label class="form-check-label" for="option3">

            3# is correct

        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" value="3" asp-for="CorrectAnswerIndex" id="option4" />
        <label class="form-check-label" for="option4">
            4# is correct
        </label>
    </div>
    <button class="btn btn-primary btn-block" type="submit">@Model.ActionType</button>

</form>