@model QuizViewModel
@{
    ViewData["Title"] = "Quiz";
}

<h1>Generated Quiz!</h1>
<h6 class="mb-4">(based on @Model.QuizType questions)</h6>

<hr />

<form method="post" asp-controller="Question" asp-action="CheckQuiz">
    
    @for (int i = 0; i < Model.Questions.Count; i++)
    {
        <div class="mb-3">
            @Model.Questions[i].Text
            <input type="hidden" asp-for="Questions[i].Id"/>

            @for (int j = 0; j < Model.Questions[i].Answers.Length; j++)
            {
                <div class="form-check">
                    <input class="form-check-input" type="radio" value="@Model.Questions[i].Answers[j].Id" asp-for="UserAnswerIds[i]" id="q@(i)_a@(j)"/>
                    <label class="form-check-label" for="q@(i)_a@(j)">
                        @Model.Questions[i].Answers[j].Text
                    </label>
                </div>
            }
        </div>
    }
    
    <hr/>
    
    <button type="submit" class="btn btn-primary">Check my results!</button>
</form>